* {
    font-family: "Roboto", sans-serif !important;
}
html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}
@media screen and (min-width: 960px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}
.wrapper {
    overflow-x: hidden;
}

.container {
    max-width: 720px !important;
}
.required::after {
    content: "*";
    margin-left: 3px;
    color: brown;
}
